/tests/Test1/nbproject/private/
/tests/Test1/build/
/tests/Test_MySQL_DAO/nbproject/private/
/tests/Test_MySQL_DAO/build/
/Votos_130818/nbproject/private/
/Votos_130818/build/
/JavaApplication8/nbproject/private/
/Clase_290818/nbproject/private/
/Ejemplo_DAO_MySQL/nbproject/private/
/Ejemplo_DAO_MySQL/build/
/Test_JS/nbproject/private/
/Test_JS/build/
/Test_JS_AJAX/nbproject/private/